<!--
  Generated template for the RecettesDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title *ngIf="canRender">{{ recipeDetail.name}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
            <div *ngIf="canRender" class="recipeContent">
              <div>
                <h1>{{ recipeDetail.name }}</h1>
                <img class="recipeImage" [src]="recipeDetail.image">
                <p>Nombre de calories : {{ recipeDetail.nb_cal }}</p>
              </div>
              <div class="ingredientsContent">
                <h2>Ingredients :</h2>
                <p>{{recipeDetail.ingredients }}</p>
              </div>
              <div class="preparationContent">
                <h2>Préparation</h2>
                <p>{{ recipeDetail.description }}</p>
              </div>
            </div>
</ion-content>
